<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Make Song From Photo</title>
    <link href="static/index_style.css" rel="stylesheet">
</head>
<body>

<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
{#<div class="main">#}
{#    <div class="title">#}
{#        <h3>Let's Make Instagram Feed with Photo</h3>#}
{#    </div>#}
{#</div>#}
<form id='addForm' method="post" action="result" enctype="multipart/form-data">
    <input type="hidden" name="test" value="dfdf"/>
    <div class="file-upload">
        <div class="image-upload-wrap">
            <input class="file-upload-input" name="photo" id="photo" type='file' onchange="readURL(this);"
                   accept="image/*"/>
            <div class="drag-text">
                <h1>사진을 입력하세요</h1>
            </div>
        </div>

        <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="your image"/>
            <div class="image-title-wrap">
                {#                <button type="button" onclick="removeUpload()" class="remove-image">Remove</button>#}
                {#                <input type="button" value="Submit" class="button" onclick="submitImage();"/>#}
            </div>

        </div>
        <div class="file-upload-result"></div>
        <div class="file-upload-result_id"></div>
        <div class="file-upload-result_caption"></div>
        <div class="file-upload-result_tag"></div>
        {#        <div style="color:blue; background-color:red; padding:20px;height: 26px;width: 27px;left: 925px;top: 189px;position: absolute;">#}
        {#            <img class="file-upload-image" src="{{img}}" alt="your image"/>#}
        {#        </div>#}
        {#        <div style="color: black; font-size: 20px; background-color:red; padding:20px;height: 224px;width: 354px;left: 1000px;top: 189px;position: absolute;">#}
        {#            <div>{{result}}</div>#}
        {#        </div>#}
        {#        <div class='main'>#}
        {#            <div>#}
        {#                <select name="genre">#}
        {#                    <option value="trot">트로트</option>#}
        {#                    <option value="ballad">발라드</option>#}
        {#                    <option value="rap-hip-pop">랩/힙합</option>#}
        {#                </select>#}
        {#                        <input type="submit" class="button"/>#}
        {#            </div>#}
        {#        </div>#}
    </div>
    </div>
</form>

<div class="main">

    {#    <div class="panel">#}
    {#        <input id="file-upload" class="hidden" type="file" onchange="readURL(this);"#}
    {#               accept="image/x-png,image/gif,image/jpeg"/>#}
    {#        <label for="file-upload" id="file-drag" class="upload-box">#}
    {#            <div id="upload-caption">Drop image here or click to select</div>#}
    {#            <img id="image-preview"/>#}
    {#        </label>#}
    {#    </div>#}


    <div id="image-box">
        <img id="image-display"/>
        <div id="pred-result" class="hidden"></div>
        <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
            <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
        </svg>
    </div>
</div>


</body>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('.image-upload-wrap').hide();

                $('.file-upload-image').attr('src', e.target.result);

                $('.file-upload-content').show();

                $('.image-title').html(input.files[0].name);
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            {#removeUpload();#}
        }
    }

    {#function removeUpload() {#}
    {#    $('.file-upload-input').replaceWith($('.file-upload-input').clone());#}
    {#    $('.file-upload-content').hide();#}
    {#    $('.image-upload-wrap').show();#}
    {#}#}

        $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
        });

        $('.file-upload-image').on("load", function () {
            var fileInput = document.querySelector("#photo");
            var form = new FormData();
            form.append('photo', $('#addForm input[name="photo"]').val());
            form.append('photo_real', fileInput.files[0]);
            form.append('genre', $('#addForm select[name = "genre"]').val());
            // 2020년 7월 1일 0시 0분 0초
            const date1 = new Date();


            $.ajax({
                url: "photo_to_song",
                data: form,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                type: 'post',
                success: function (data) {
                    console.log("success");
                    console.log(data);
                    $('.file-upload-result_id').append("\<p style='font-weight: bolder',display:inline;\>mtvs_Ai\<p/\>")
                    $('.file-upload-result_caption').append(data['result']);
                    $('.file-upload-result_tag').append(data["tag"])
                    // 2020년 7월 1일 2시 30분 4초
                    const date2 = new Date();

                    const elapsedMSec = date2.getTime() - date1.getTime(); // 9004000
                    const elapsedSec = elapsedMSec / 1000; // 9004
                    console.log("결과" + elapsedSec)
                },
                error: function (xhr, status, error) {

                }, beforeSend: function () {
                    var width = 0;
                    var height = 0;
                    var left = 0;
                    var top = 0;
                    width = 50;
                    height = 50;
                    top = ($(window).height() - height) / 2 + $(window).scrollTop();
                    left = ($(window).width() - width) / 2 + $(window).scrollLeft();
                    if ($("#div_ajax_load_image").length != 0) {
                        $("#div_ajax_load_image").css({
                            "top": top + "px",
                            "left": left + "px"
                        });
                        $("#div_ajax_load_image").show();
                    } else {
                        $('.file-upload-result').append('<div id="div_ajax_load_image"><img src="static/loading.gif" style="width: 1500px; height: 1000px; display: block; margin: 0px auto; margin-top: -60px; margin-left: -100px;"></div>');
                    }
                }
                ,
                complete: function () {
                    $("#div_ajax_load_image").hide();
                }
            })

        })

        function submitImage() {
            {#var fileInput = document.querySelector("#photo");#}
            {#var form = new FormData();#}
            {#console.log(fileInput.files[0])#}
            {#form.append('photo', $('#addForm input[name="photo"]').val());#}
            {#form.append('photo_real', fileInput.files[0]);#}
            {#form.append('genre', $('#addForm select[name = "genre"]').val());#}
            {#for (var pair of form.entries()) {#}
            {#    console.log(pair[0] + ', ' + pair[1]);#}
            {#}#}
                {#$.ajax({#}
                {#    url: "photo_to_song",#}
                {#    data: form,#}
                {#    processData: false,#}
                {#    contentType: false,#}
                {#    enctype: 'multipart/form-data',#}
                {#    type: 'post',#}
                {#    success: function (data) {#}
                {#        console.log("success");#}
                {#        console.log(data);#}
                {#let url = '/result'#}
                {#window.location.href = url#}
                {#    },#}
                {#    error: function (xhr, status, error) {#}
                {##}
                {#    }#}
                {#})#}
                }

    {#$("#btn_submit").on("click", function (event) {#}
    {##}
    {#    /// event.preventDefault();#}
    {#    var url = $("#form").attr("action");#}
    {#    var form = $('#form')[0];#}
    {#    var formData = new FormData(form);#}
    {##}
    {#    $.ajax({#}
    {#        url: url,#}
    {#        type: 'POST',#}
    {#        data: formData,#}
    {#        success: function (data) {#}
    {#            alert(data)#}
    {##}
    {#        },#}
    {#        error: function (data) {#}
    {#            alert(data);#}
    {#        },#}
    {#        cache: false,#}
    {#        contentType: false,#}
    {#        processData: false#}
    {#    });#}

</script>
<!--Copyright (c) 2022 by Aaron Vanston (https://codepen.io/aaronvanston/pen/yNYOXR)-->

<!--Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:-->

<!--The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.-->

<!--THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->


</html>